{% extends '::layout_admin.html.twig' %}


{% block page_title %}
    {{ "crud.title.edit"|trans([], 'admin') }}
{% endblock %}

{% block page_subtitle %}
    {{ "admin.album.entity_name"|trans([], "admin") }}
{% endblock %}

{% block content %}
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title"><i class="fa fa-edit"></i>{{ entity }}</h3>
        </div>
        {{ form_start(form) }}
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    {% include 'AppBundle:Admin/Album:form.html.twig' %}
                </div>
            </div>
        </div>
        <div class="box-footer text-center">
            {{ form_widget(form.save, { 'label': 'crud.form.save'|trans([], 'admin'), 'glyphicon':'save' }) }}
            {{ form_widget(form.delete, { 'label': 'crud.form.delete'|trans([], 'admin'), 'attr': {'data-confirm': 'crud.form.confirm'|trans([], 'admin')}, 'glyphicon':'remove' }) }}
            <a href="{{ path('admin_album_show', {id:entity.id}) }}" class="btn btn-default">{{ 'crud.form.cancel'|trans([], 'admin')|addGlyphicon("ban-circle") }}</a>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
