{% extends '::layout_admin.html.twig' %}


{% block page_title %}
    {{ "crud.title.index"|trans([], 'admin') }}
{% endblock %}

{% block page_subtitle %}
    {{ "admin.album.entity_name"|trans([], "admin") }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    {{ datatable_render(datatable) }}
                </div>
                <div class="box-footer"><a href="{{ path('admin_album_new') }}" class="btn btn-default pull-right">{{ 'crud.form.new'|trans([], 'admin')|addGlyphicon("plus-sign") }}</a><div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
