{% extends '::layout_admin.html.twig' %}


{% block page_title %}
    {{ "crud.title.show"|trans([], 'admin') }}
{% endblock %}

{% block page_subtitle %}
    {{ "admin.album.entity_name"|trans([], "admin") }}
{% endblock %}

{% block content %}                        
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-th"></i> {{ entity }}</li>
            <li><a data-toggle="tabajax" data-target="#tab_track_1" href="{{ path('admin_album_track_list', { id:entity.id}) }}">{{ "admin.album.track"|trans([], "admin") }}</a></li>
                <li><a data-toggle="tabajax" data-target="#tab_artist_2" href="{{ path('admin_album_artist_list', { id:entity.id}) }}">{{ "admin.album.artist"|trans([], "admin") }}</a></li>
                <li class="active"><a data-toggle="tab" href="#tab_entity_name_3">{{ "crud.title.properties"|trans([], "admin") }}</a></li>
                </ul>
        <div class="tab-content">
            <div id="tab_track_1" class="tab-pane">                    
                    
                <div class="overlay"></div>
                <div class="loading-img"></div>
            </div>
            <div id="tab_artist_2" class="tab-pane">                    
                    
                <div class="overlay"></div>
                <div class="loading-img"></div>
            </div>
            <div id="tab_entity_name_3" class="tab-pane active">                <form role="form">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>{{ "admin.album.title"|trans([], "admin") }}</th>
                                <td>{{ entity.title }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.album.date"|trans([], "admin") }}</th>
                                <td>{{ entity.date|localizeddate("long","none") }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.album.datetime"|trans([], "admin") }}</th>
                                <td>{{ entity.datetime|localizeddate("long","short") }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.album.time"|trans([], "admin") }}</th>
                                <td>{{ entity.time|localizeddate("none","short") }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="{{ path('admin_album_edit', { id:entity.id}) }}" class="btn btn-default">{{ 'crud.form.edit'|trans([], 'admin')|addGlyphicon("edit") }}</a>                    <a href="{{ path('admin_album_list') }}" class="btn btn-default">{{ 'crud.form.list'|trans([], 'admin')|addGlyphicon("list") }}</a>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
{% endblock %}
